:root {
  --color-blue: rgba(0 98 186 / 1);
  --color-neutral-white: rgba(255 255 255 / 1);
  --color-neutral-grey: rgba(30 43 60 / 1);
  --heading-font-size: 18px;
}

.heading {
  font-size: var(--link-heading-size);
  font-weight: 500;
  line-height: 130%;
  margin: 0;
}

.linkTitle {
  color: var(--color-blue);
  text-decoration: none;
  border-bottom: 1px solid var(--color-blue);
}

.regularTitle {
  font-size: var(--heading-font-size);
  color: var(--color-neutral-grey);
}

.linkList {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 212px;
  height: 224px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.normal {
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
}

.inverted {
  color: var(--color-neutral-white);
  border-bottom: 1px solid var(--color-neutral-white);
}

.invertedTitle {
  color: var(--color-neutral-white);
}
