:root {
  --color-blue-link: rgba(0 98 186 / 1);
  --color-blue-link-hover: rgba(0 78 149 / 1);
  --color-blue-link-focus: rgba(152 23 126 / 1);
  --color-blue-link-pressed: rgba(0 49 93 / 1);
  --color-purple-link-visited: rgba(122 18 101 / 1);
  --color-neutral-white: rgba(255 255 255 / 1);
  --color-neutral-grey: rgba(30 43 60 / 1);
  --heading-font-size: 18px;
}

.heading {
  font-size: var(--link-heading-size);
  font-weight: 500;
  line-height: 130%;
  margin: 0;
}

.linkTitle {
  color: var(--color-blue-link);
  text-decoration: none;
  font-size: var(--heading-font-size);
}

.linkTitle:hover {
  color: var(--color-blue-link-hover);
}

.span {
  border-bottom: 1px solid var(--color-blue-link);
}

.span:hover {
  border-bottom: 1px solid var(--color-blue-link-hover);
}

.regularTitle {
  font-size: var(--heading-font-size);
  color: var(--color-neutral-grey);
}

.linkList {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 212px;
  height: 224px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--color-blue-link-hover);
}

.link:focus {
  border: 2px solid #98177e;
  border-radius: 6px;
}

.normal {
  color: var(--color-blue-link);
  border-bottom: 1px solid var(--color-blue-link);
}

.inverted {
  color: var(--color-neutral-white);
  border-bottom: 1px solid var(--color-neutral-white);
}

.invertedTitle {
  color: var(--color-neutral-white);
}
