.middleUl {
  list-style: none;
  display: flex;
  align-items: center;
}

.middleLi {
  margin-right: 8px;
}

.mobileNav {
  padding: 0;
  width: 100%;
}

.bottomNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottomLi {
  width: 100%;
  padding: 12px 0;
}

.mobileUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobileLi {
  width: 100%;
  padding: 12px 13px;
  border-bottom: 1px solid var(--fds-semantic-surface-neutral-subtle-hover);
}

.mobileH2 {
  padding: 0 12px;
  border-bottom: 1px solid var(--fds-semantic-surface-neutral-subtle-hover);
  margin-bottom: 5px;
}
