.header {
  height: 80px;
  border-bottom: 1px solid #dbdbdb;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.left {
  display: flex;
  align-items: center;
}

.middle {
  margin-right: auto;
  margin-left: 48px;
}

.right {
  display: flex;
  align-items: center;
}

.mobileMenuButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
