.wrapper {
  background: var(--fds-semantic-background-default);
}

.breadcrumbList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
}

.seperator {
  margin-left: 3px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  color: var(--fds-semantic-text-neutral-subtle);
  font-size: var(--fds-sizing-medium);
}
