.wrapper {
  background: white;
}

.breadcrumbList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
}

.seperator {
  margin-left: 3px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  color: #262626;
}
