.wrapper {
  background: white;
}

.breadcrumbList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
}

.seperator {
  /* position: relative;
  top: 4px; */
  color: #262626;
}
