.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 24px;
  color: #1e2b3c;
  max-width: 600px;
  min-width: 260px;
  width: 100%;
  border: 1px solid rgba(210 213 216 / 1);
  border-radius: 4px;
}

.wrapper:hover {
  background: rgba(230 239 248 / 1);
}

.text {
  font-weight: 500;
  font-size: 18px;
}
