.footer {
  background-color: #111e3c;
  color: rgb(220 220 220);
}

.topContainer {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottomContainer {
  padding: 0;
}

.topContent {
  padding: 48px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fewChilds {
  justify-content: flex-start;
  gap: 25%;
}

.column {
  max-width: 33.3333%;
  flex: 0 0 auto;
  min-width: 270px;
}

.bottomContent {
  border-top: 1px solid rgb(57 61 94);
  padding: 24px 0;
}
