.courceCardWrapper {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  text-decoration: none;
  color: var(--fds-semantic-text-neutral-default);
  overflow: hidden;
}

.courceCardWrapper:hover {
  border: 1px solid var(--fds-semantic-border-neutral-strong);
}

.courceCardWrapper:active {
  border: 2px solid var(--fds-semantic-border-neutral-strong);
  outline: 2px solid var(--fds-semantic-surface-secondary-secondary-active);
}

.dateBox {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.mobileDateBox {
  width: auto;
  height: auto;
  padding: 24px;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
  font: var(--fds-typography-body-medium);
}

.mobileDateBox span:not(:last-child)::after {
  content: '.';
}

.dateDay {
  font: var(--fds-typography-heading-large);
  margin: 5px 0 0;
}

.dateMonth {
  margin: 5px 0;
}

.dateYear {
  margin: 5px 0 0;
}

.informationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 38px;
  background-color: var(--fds-semantic-background-default);
}

.mobileInformationBox {
  padding: 32px;
}

.informationBox h2 {
  text-decoration: underline;
  margin-top: 0;
  font-size: 18px;
}

.courceLabels {
  display: flex;
  gap: 15px;
}

.courceLabels span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile {
  max-width: 330px;
  flex-direction: column;
}

.mobile span {
  justify-content: left;
}

.primary {
  background-color: var(--fds-semantic-surface-primary-primary);
}

.primary:hover {
  background-color: var(--fds-semantic-surface-primary-primary-hover);
}

.primary:active {
  background-color: var(--fds-semantic-surface-primary-primary-active);
}

.secondary {
  background-color: var(--fds-semantic-surface-secondary-secondary);
}

.secondary:hover {
  background-color: var(--fds-semantic-surface-secondary-secondary-hover);
}

.secondary:active {
  background-color: var(--fds-semantic-surface-secondary-secondary-active);
}

.tertiary {
  background-color: var(--fds-semantic-surface-tertiary-tertiary);
}

.tertiary:hover {
  background-color: var(--fds-semantic-surface-tertiary-tertiary-hover);
}

.tertiary:active {
  background-color: var(--fds-semantic-surface-tertiary-tertiary-active);
}
